@model Post

<form asp-controller="Post" asp-action="Delete" method="post">
    <div class="card  mb-4 p-1">
        <div class="card-header">
            <h4>@Model.Title</h4>
        </div>
        <div class="card-body">
            <p class="content_text">@Model.Text</p>
        </div>
        <div class="card-footer">
            <h6>@Model.CreatedDate</h6>
        </div>
        <div class="btn-group">
            <a class="btn btn-warning" asp-controller="Post" asp-action="Edit" asp-route-id="@Model.Id">Изменить</a>
            <button type="submit" class="btn btn-danger">Удалить</button>
            <input type="hidden" name="id" value="@Model.Id" />
        </div>
    </div>
</form>